.add{
    background-image: url('../resources/loginBackground.jpg');
    background-position: center;
    background-size: cover;
    height: 131vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__cont{
        width: 120vh;
        height: 101vh;
        background-color: $grey;
    }
}


.addItemNotAllow{
    height: 72vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

    &__title{
        width: 553px;
        font-size: 61px;
        font-weight: 600;
        color: white;
    }

    &__p{
        margin-top: 45px;
        color: white;
        width: 553px;
    }

    &__a{
        color: blue;
        text-decoration: underline;
    }
}

.addItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 120vh;
    height: 101vh;
    padding: 10vh;

    &__title{
        font-size: 35px;
        font-weight: 500;
    }

    &__cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    &__contTwo{
        margin-left: 147px;
        margin-top: 12px;
    }

    &__label{
        margin-bottom: 19px;
    }

    &__option{
        border: none;
        height: 36px;
        width: 378px;
        color: #4F4F4F;
    }

    &__upload{
        margin: 23px 0px;
    }
   
}

.modalAdd{
    transform: translate(-100%,0);
    background-color: $grey;
    width: 108vh;
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    top: 0;
    transition: 0.3s ease-in-out;
    position: fixed;

    &--show{
        transform: translate(0,0);
        transition: 0.3s ease-in;
        top: 135px;
        left: 315PX;
    }

    .productAdded{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__title{
            font-size: 35px;
            font-weight: 500;
            text-align: center;
        }
    
        &__p{
            width: 377px;
            font-size: 15px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    
        &__btnCont{
            width: 625px;
            display: flex;
            justify-content: space-evenly;
        }
    
        &__ok{
            width: 36vh;
            height: 6vh;
            font-size: 17px;
            background-color: $yellow;
            font-family: $font;
            border: 0;
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);color: black;
            text-decoration: none;
        }
    
        &__ok:hover {
            background-color: $yellowTwo;
        }
    
    }
    
}


@media (max-width: 425px){
    .add{
        height: 145vh;
        
        &__cont{
            width: 83%;
            height: 112vh;
        }
    }

    .addItem{
        width: 100%;
        padding: 6vh;
        height: 112vh;

        &__cont{
            width: 100%;
        }

        &__label{
            width: 100%;
        }

        .input{
            width: 100%;
        }

        &__option{
            width: 100%;
        }

        &__contTwo{
            margin-left: 0px;
            width: 100%;
        }

        &__upload{
            display: flex;
        }

        &__button{
            width: 100%;
        }
    }

    .modalAdd{
        width: 83%;

        &--show{
            top: 135px;
            left: 30px;
        }

        .productAdded{
            width: 83%;

            &__title{
                font-size: 25px;
            }
            
        }
    }
}

@media (max-width: 360px){
}