//BUTTONS FOR ALL PAGES EXCEPT FOR LANDING
.button{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
}