//BUTTONS FOR ALL PAGES EXCEPT FOR LANDING
.button{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }
}

.button:hover {
    background-color: $yellowTwo;
}

.button__userAdd{
    width: 48vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.profileUser__start{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.profileSingOut{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.addItem__button{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.profileAdmin__ordersbtn{
    width: 32vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.profileAdmin__aibtn{
    width: 32vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}

.profileSingOut__admin{
    width: 57vh;
    height: 6vh;
    font-size: 17px;
    background-color: $yellow;
    font-family: $font;
    border: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);

    &__t{
        color: black;
        text-decoration: none;
    }

    &:hover{
        background-color: $yellowTwo;
    }
}