//LANDING
.mainHeader{
  background-image: url("../resources/image2.jpg");
  height: 105vh;
  width: 100%;
  background-position: 0% 45%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .header{
    height: 23vh;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link{
      width: 10%;
    }

    &__logo{
      width: 72%;
    }

    &__cont{
      display: flex;
      width: 32%;
      margin: 90px;
      justify-content: space-around;
      align-items: center;
    }

    &__sections{
      font-family: "Poppins";
      color: white;
      text-decoration: none;
      font-size: 15px;

      &:hover{
        color: $yellow;
      }
    }
    
      &__contTwo{
        padding-right: 17vh;
        margin: 12px;
      }

      &__profile{
        width: 36px;
        margin-right: 25px;
      }
  
      &__shop{
        width: 36px;
      }

      &__shopTwo{
        display: none;
      }
  }
  .camera{
    padding-top: 7%;
    padding-left: 5%;
    width: 55%;
  }

  .menu{
    display: none;
    width: 13%;
    position: absolute;
    top: 46px;
    left: 39px;
    cursor: pointer;
  }

  .banner{
    display: flex;
    flex: row;
    padding-left: 9%;
    padding-top: 1%;

    &__title{
      padding-right: 37%;
      font-family: $font;
      color: white;
      font-size: 4vh;
    }

    &__buttom{
      width: 25vh;
      height: 6vh;
      font-size: 17px;
      background-color: $yellow;
      font-family: $font;
      border: 0;
      box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    }
  }

}


//Universal Header
.universalHeader{
  height: 23vh;
  width: 100%;

    &__nav{
      width: 100%;
      height: 23vh;
      background-color: black;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: fixed;
    }
  
    &__link{
      width: 10%;
    }

    &__logo{
      width: 72%;
    }

    &__cont{
      display: flex;
      width: 32%;
      margin: 90px;
      justify-content: space-around;
      align-items: center;
    }

    &__contTwo{
      padding-right: 17vh;
      margin: 12px;
    }

    &__sections{
      font-family: $headerfont;
      color: white;
      text-decoration: none;
      font-size: 15px;

      &:hover{
        color: $yellow;
      }
    }

    &__profile{
      width: 36px;
      margin-right: 25px;
      
      &:hover{
        width: 40px;
      }
    }

    &__shop{
      width: 36px;
    }

    &__shopTwo{
      display: none;
    }

  .menu{
    display: none;
    width: 13%;
    position: absolute;
    top: 46px;
    left: 39px;
    cursor: pointer;
  }

}



@media (max-width: 425px){
  
  .mainHeader{
    height: 101vh;
    background-position: 23% 71%;
    background-size: 275%;

    .header{
      padding-bottom: 61vh;

      &__link{
        width:32%;
      }

      &__logo{
        margin-left: 255%;
        margin-top: 205%;
        width: 120%;
      }

      &__menu {
        display: block;
        position: absolute;
        left: 37px;
        top: 50px;
    }
  
      &__sections{
        display: none;
      }

      &__profile{
        display: none;
      }

      &__shop{
        display: none;
      }

    }
  
      .camera{
        width: 75%;
      }

      .menu{
        display: flex;
        top: 81px;
      }
    
      .banner{
  
        &__title{
          display: none;
        }
    
        &__buttom{
          width: 25vh;
          height: 6vh;
          font-size: 15px;
          margin-left: 3%;
        }
  
      }
  }
  
  .universalHeader{

    &__link{
      width:32%;
    }

    &__cont{
      display: none;
    }

    &__contTwo{
      display: none;
    }

    &__logo{
      margin-left: -18%;
      margin-top: 0%;
      width: 81%;
    }

    .menu{
      display: flex;
      top: 67px;
    }
  }

}

@media (max-width: 360px){
  
  .mainHeader{
    height: 101vh;
    background-position: 41% 71%;
    background-size: 275%;
  }

  .header{

    &__link{
      width: 48%;
    }

    &__contTwo{
      display: none;
    }
    
  }
  
}