//BASED OF PAGE THAT CONT ALL
.products{
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

.container{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

//FILTER
.filter{
    border: none;
    height: 36px;
    width: 248px;
    color: #4F4F4F;
    margin-left: 8vh;
    cursor: pointer;
}

//SORT
.sort{
    border: none;
    height: 36px;
    width: 248px;
    color: #4F4F4F;
    margin-right: 11.7vh;
    cursor: pointer;
}

//PRODUCTS
.productlist{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 65px;
    margin-bottom: 75px;
    flex-wrap: wrap;

}

.product{
    background-color: $white;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 60px;
    width: 48vh;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__cont{
        display: none;
    }

    &__img{
        width: 35vh;
        object-fit: contain;
        padding: 10px;
    }
    &__title{
        width: 274px;
        margin-top: -4px;
        text-align: center;
        color: $black;
        font-weight: bold;
        font-size: 19px;
    }

    &__price{
        margin-top: 5px;
        color: $black;
    }


    &--admin{
        background-color: $white;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 60px;
        width: 48vh;
        height: 52vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .product__cont{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 242px;
            height: 71px;
            position: absolute;
        }
        
        .product__edit{
            width: 24px;
            cursor: pointer;

            &:hover{
                width: 28px;
            }
        }
        
        .product__delete{
            width: 24px;
            cursor: pointer;

            &:hover{
                width: 28px;
            }
        }
    }
}
