//BASED OF PAGE THAT CONT ALL
.products{
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

.container{
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.containerAccessories{
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.filterform{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Accessories{
    display: flex;
    width: 100%;
    justify-content: center;
}

//FILTER

//Name
.filterCont{
    border: none;
    height: 36px;
    color: #4F4F4F;
    margin-left: 8vh;

    &__radio{
       cursor: pointer; 
       margin-left: 6px;
    }

    &__name{
        font-weight: 900;
        font-size: 21px;    
    }
}

//Type
.filterTypeCont{
    border: none;
    height: 36px;
    color: #4F4F4F;
    margin-left: 8vh;

    &__radio{
       cursor: pointer; 
       margin-left: 6px;
    }

    &__name{
        font-weight: 900;
        font-size: 21px;    
    }
}

//SORT
.sort{
    border: none;
    height: 36px;
    width: 248px;
    color: #4F4F4F;
    margin-right: 11.7vh;
    cursor: pointer;
}

//PRODUCTS
.productlist{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 65px;
    margin-bottom: 75px;
    flex-wrap: wrap;

}

//PRODUCT ADDED
.location{
    display: none;
    position: fixed;
    width: 1.7%;
    top: 15px;
    right: 130px;

    &--show{
        display: block;
        animation: 0s ease-in 5s forwards;
    }

}

.product{
    background-color: $white;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 60px;
    width: 48vh;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__cont{
        display: none;
    }

    &__a{
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__img{
        width: 35vh;
        object-fit: contain;
        padding: 10px;
    }
    &__title{
        width: 274px;
        margin-top: -4px;
        text-align: center;
        color: $black;
        font-weight: bold;
        font-size: 19px;

        &:hover {
            opacity: .7;
            cursor: pointer;
            border: 3px solid ;
        }
    }

    &__price{
        margin-top: 5px;
        color: $black;
    }


    &--admin{
        background-color: $white;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 60px;
        width: 48vh;
        height: 52vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .product__cont{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 242px;
            height: 71px;
            position: absolute;
        }
        
        .product__edit{
            width: 24px;
            cursor: pointer;

            &:hover{
                width: 28px;
            }
        }
        
        .product__delete{
            width: 24px;
            cursor: pointer;

            &:hover{
                width: 28px;
            }
        }
    }
}

.product__noti{
    display: none;
}

@media (max-width: 425px){

    .container{
        height: 32vh;
    }

    .filterform{
        flex-direction: column;
        align-items: center;
    }

    .filterCont{
        margin-left: 0vh;
    }

    .filterTypeCont{
        margin-left: 0vh;
        margin-top: 30px;
    }

    .sort{
        margin-top: 5vh;
        margin-right: 0vh;
    }

    .location{

        &--show{
            display: none;
        }

    }

    .product__noti{
        font-weight: 800;
        display: block;
        color: $grey;
    }

}